/* Products Page CSS */

/* Root Elements */
:root {
    --main-bg-color: #507DBC;
    --main-font-color: #3d3f56;
    --sub-bg-color: #AEEBDF;
    --sub-font-color: #73B1BC;
    --section-margin: 2rem;
    --main-font: 'Raleway', sans-serif;
    --footer-bg-color: #f2f2f2;
    --img-size: 15rem;
    --main-width: 1536px;
}

@media(min-width: 992px) {
    :root { --main-width: 968px; }
}

@media(min-width: 1600px) {
    :root { --main-width: 1280px; }
}

@media(min-width: 1920px) {
    :root { --main-width: 1568px; --img-size: 17.5rem }
}



/* ----------------------------------------------------------- */


/* Ads Banner */
.ads-banner {
    width: 100%;
    background: url("../assets/img/sub-banner01.jpg");
    margin: 0 auto 5vh;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads-banner .banner-bottom-edge {
    background: url("../assets/img/sub-banner-bottom.png") repeat-x;
    position: absolute;
    bottom: -1px;
    left: 0%;
    width: 100%;
    height: 33px;
}

.ads-banner .ads-banner-desc {
    color: #fff;
    margin-top: 5rem;
    font-size: 72px;
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--section-margin);
}

@media(max-width: 768px) {
    .ads-banner { height: 17.5rem; }
    .ads-banner .ads-banner-desc { font-size: 3rem; }
}

/* ----------------------------------------------------------- */

/* History */
.history {
    display: flex;
    margin: auto;
    height: 3rem;
    width: var(--main-width);
    list-style-type: none;
}

.history .history-item {
    font-size: 14px;
    
}

.history .with-slash::before {
    content: "/";
    margin: 0 0.5rem;
}

@media(max-width: 768px) {
    .history { width: 95%; }
}

/* ----------------------------------------------------------- */

/*branches*/

.branch-items-container{
    display: grid;
    width: var(--main-width);
    margin: 0 auto 5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--section-margin);
}

.branch-items-container .odd {
    background: #fff;
}

.item-container .branch-desc h1 {
    font-family: var(--main-font);
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

.item-container .branch-desc p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.item-container .branch-desc p span {
    font-weight: bold;
    text-transform: uppercase;
}

.odd .branch-desc h1 {
    color: var(--main-bg-color);
}

.branch-items-container .even {
    background: var(--main-bg-color);
}

.even .branch-desc h1,
.even .branch-desc p,
.even .branch-desc p span {
    color: #fff;
}

.item-container .branch-desc {
    padding: 1rem;
}

.item-container img {
    width: 100%;
}

@media(max-width: 768px){
    .branch-items-container { width: 95%; }
    .branch-items-container .branch-desc h1{
        font-size: 1.5rem;
    }
    .branch-items-container .branch-desc p{
        font-size: 1rem;
    }
    .branch-items-container{
        flex-grow: 1;
        grid-template-columns: 1fr;
    }
}
