/* Home Page CSS */

/* Root Elements */
:root {
    --main-bg-color: #507DBC;
    --main-font-color: #3d3f56;
    --sub-bg-color: #AEEBDF;
    --sub-font-color: #73B1BC;
    --section-margin: 2rem;
    --main-font: 'Raleway', sans-serif;
    --footer-bg-color: #f2f2f2;
    --img-size: 7.5rem;
    --main-width: 1536px;
}
@media(min-width: 992px) { :root { --main-width: 968px; --banner-height: 30rem} }

@media(min-width: 1600px) { :root { --main-width: 1280px; --banner-height: 40rem } }

@media(min-width: 1920px) { :root { --main-width: 1568px; --img-size: 20rem; --banner-height: 50rem } }

@media(max-width: 768px) { :root { --section-margin: 1rem; } }


/* ----------------------------------------------------------- */


/* Ads Banner */
.ads-banner {
    width: 100%;
    background: url("../assets/img/sub-banner01.jpg") no-repeat;
    background-size: cover;
    margin: 0 auto 3rem;
    height: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads-banner .banner-bottom-edge {
    background: url("../assets/img/sub-banner-bottom.png") repeat-x;
    position: absolute;
    bottom: -1px;
    left: 0%;
    width: 100%;
    height: 33px;
}

.ads-banner .ads-banner-desc {
    color: #fff;
    margin-top: 5rem;
    font-size: 72px;
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--section-margin);
}

@media(max-width: 768px) {
    .ads-banner { height: 10rem; }
    .ads-banner .ads-banner-desc { font-size: 48px; }
}

/* ----------------------------------------------------------- */

/* History */
.history {
    display: flex;
    margin: auto;
    height: 3rem;
    width: var(--main-width);
    list-style-type: none;
}

.history .history-item {
    font-size: 14px;
    
}

.history .with-slash::before {
    content: "/";
    margin: 0 0.5rem;
}

@media(max-width: 768px) {
    .history { width: 95%; }
}

/* ----------------------------------------------------------- */

/* Main */
main {
    display: flex;
    width: var(--main-width);
    margin: 0 auto 5rem;
    gap: var(--section-margin);
}

@media(max-width: 768px) {
    main {
        flex-direction: column;
        width: 95%;
    }
}

/* ----------------------------------------------------------- */

/* Image Section */
main .img-container {
    flex: 1.25;
}

.img-container img { width: 100%; }

@media(max-width: 768px) {
    main .img-container {
        flex: 1;
        width: 100%;
    }
}

/* ----------------------------------------------------------- */

/* Product Section */
main .product-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-container .title {
    font-size: 36px;
    font-family: var(--main-font);
}

.product-container .price {
    font-size: 28px;
    color: var(--sub-font-color);
    font-weight: bold;
}

.product-container .detail {
    font-size: 18px
}

.product-container .nutr-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.product-container .sub-title {
    font-family: var(--main-font);
    font-size: 24px;
}

.nutr-container .item-container {
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nutr-container .item-container .value,
.nutr-container .item-container .target { font-size: 20px; }

.nutr-container .item-container .target { font-weight: bold; }

.product-container .ingr-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.ingr-container .item-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0.5rem;
}

.ingr-container .item-container img { width: 15%; }

.ingr-container .item-container .item { font-size: 20px; }

.ingr-container .item-container .item .mass { font-size: 1rem; }

.ingr-container .item-container .item .name { font-weight: bold; }

.product-container .addToCart-btn {
    padding: 0.5rem;
    margin: 1.5rem 0;
    width: 100%;
    background: var(--main-bg-color);
    color: #fff;
    font-size: 28px;
    font-family: var(--main-font);
    font-weight: bold;
}

@media(max-width: 768px) {
    .product-container .title { font-size: 28px }
    .product-container .addToCart-btn { font-size: 24px }
    .product-container .nutr-container {
        grid-template-columns: 1fr 1fr;
    }
    .product-container .ingr-container {
        grid-template-columns: 1fr;
    }
}