/* Home Page CSS */

/* Root Elements */
:root {
    --main-bg-color: #507DBC;
    --main-font-color: #3d3f56;
    --sub-bg-color: #A3CEF1;
    --sub-font-color: #73B1BC;
    --section-margin: 2rem;
    --main-font: 'Raleway', sans-serif;
    --footer-bg-color: #f2f2f2;
    --other-font:'Montserrat', sans-serif;
    --price-color:#73B1BC;
}
@media(min-width: 992px) { :root { --main-width: 968px; --banner-height: 30rem} }

@media(min-width: 1600px) { :root { --main-width: 1280px; --banner-height: 40rem } }

@media(min-width: 1920px) { :root { --main-width: 1568px; --img-size: 20rem; --banner-height: 50rem } }

@media(max-width: 768px) { :root { --section-margin: 1rem; } }

/* ----------------------------------------------------------- */
img {
  width: 50%;
  height: 50%;
}
main{
    font-family: var(--other-font);
    color: var(--main-font-color);
    margin-left: 10%;
    margin-right: 10%;
}
header{
    background-color: var(--price-color);
}
.navig-menu a{
    color: var(--main-font-color);
    text-decoration: none;
}
.main-prod{
    display: flex;
    margin-top: 5vh;
}
.product-info{
    margin-left: 5vh;
}
.product-title{
    font-size: 36px;
    font-weight: bold;
}
#price{
    color: var(--sub-font-color);
    font-size: 28px;
    margin-top: 2rem;
}
#text1{
    font-size: 18px;
    margin-top: 2rem;
}
#ingredient{
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;

}
#text2{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: normal;
}
.prod-buttons{
    margin-top: 3rem;
    display: flex;
}
.size{  
    font-size: 25px;
    text-transform: uppercase;
}
.amount{
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 10rem;
}


.lil-buttons button{
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: -8px;
border-style: solid;
background-color: white;
border-color: var(--sub-font-color);
font-family: var(--other-font) ;
color: var(--main-font-color);
font-size: 18px;
border-width: 2px;
}
.lil-buttons{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
#button1{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#button3{
    background-color: var(--price-color);
    color: white;
}

#button4{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.amount form{
    position: relative;
    right: 1vh;
}
.amount input::-webkit-outer-spin-button,.amount input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.amount input{
    width: 20vh;
    height: 3.72vh;
    border-style: solid;
    border-right: none;
    border-color: var(--price-color);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    bottom: 0.1vh;

}
#button5{    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    background-color: var(--price-color);
    color: white;
}
 
#button6{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
} 
.add{
    background-color: var(--main-bg-color);
    color: white;
    margin-top: 1vh;
    border-style: none;
    width: 300px;
    height: 60px;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 20px;
}

.bottom-main{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 15vh;
    margin-right: -35vh;
}

.delivery{
    background-color: var(--price-color);
    width: 431px;
    height: 200px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.delivery p{
    padding-top: 20px;
    white-space: pre-line;
    font-size: 25px;
}
.delivery h2{
    font-size: 30px;
}
.delivery p,h2{
    color: white;
}
.aside{
    display: flex;
    margin-left: 24vh;
}

.aside h2{
    color: var(--main-font-color);
}

.aside1 ul{
    margin-top: 2vh;
}
.aside1 li{
    margin-bottom: 1vh;
}
.aside2{
    white-space: pre-line;
    margin-left: 4vh;
    margin-top: -2vh;
}
@media only screen and (max-width: 1800px) {
  .delivery {
    margin-right: 20vh;
  }
}




