/* Products Page CSS */

/* Root Elements */
:root {
    --main-bg-color: #507DBC;
    --main-font-color: #3d3f56;
    --sub-bg-color: #AEEBDF;
    --sub-font-color: #73B1BC;
    --section-margin: 2rem;
    --main-font: 'Raleway', sans-serif;
    --footer-bg-color: #f2f2f2;
    --img-size: 15rem;
    --main-width: 1536px;
}

@media(min-width: 992px) {
    :root { --main-width: 968px; }
}

@media(min-width: 1600px) {
    :root { --main-width: 1280px; }
}

@media(min-width: 1920px) {
    :root { --main-width: 1568px; --img-size: 17.5rem }
}



/* ----------------------------------------------------------- */


/* Ads Banner */
.ads-banner {
    width: 100%;
    background: url("../assets/img/sub-banner03.jpg") no-repeat;
    background-size: cover;
    margin: 0 auto 3rem;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ads-banner .banner-bottom-edge {
    background: url("../assets/img/sub-banner-bottom.png") repeat-x;
    position: absolute;
    bottom: -1px;
    left: 0%;
    width: 100%;
    height: 33px;
}

.ads-banner .ads-banner-desc {
    color: #fff;
    margin-top: 5rem;
    font-size: 72px;
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--section-margin);
}

@media(max-width: 768px) {
    .ads-banner { height: 17.5rem; }
    .ads-banner .ads-banner-desc { font-size: 48px; }
}

/* ----------------------------------------------------------- */

/* History */
.history {
    display: flex;
    margin: auto;
    height: 3rem;
    width: var(--main-width);
    list-style-type: none;
}

.history .history-item {
    font-size: 14px;
    
}

.history .with-slash::before {
    content: "/";
    margin: 0 0.5rem;
}

@media(max-width: 768px) {
    .history { width: 95%; }
}

/* ----------------------------------------------------------- */


/* Main */
main {
    width: var(--main-width);
    margin: 0 auto 5rem;
    display: flex;
}

@media(max-width: 768px) {
    main {
        flex-direction: column;
        width: 95%;
    }
}

/* Group Section */

main .group {
    width: 17.5%;
    padding-right: 1rem;
}

.group .group-item {
    margin-bottom: 1.5rem;
}

.group-item .active {
    padding: 0.5rem 1.5rem;
    background: #f2f2f2;
    border-radius: 4px;
}

.group-item ul li {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.group-item ul li:hover {
    padding: 0.5rem 1.5rem;
    background: #f2f2f2;
    border-radius: 4px;
}

@media(max-width: 768px) {
    main .group { width: 100%; padding: 0; }
}


/* ----------------------------------------------------------- */

/* Products Section */

main .products-container { flex: 1; }

.products-container .title {
    font-size: 32px;
    text-align: end;
    font-family: var(--main-font);
    margin-bottom: var(--section-margin);
}

.products-container .product-items-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: var(--section-margin);
}

.product-items-container .item-container { 
    width: calc((100% - 4rem) / 4);
}
.product-items-container .item-container:hover > .img-container .hover-box {
    opacity: 1;
}
.product-items-container .item-container:hover > .img-container .hover-box .main-btn {
    transform: translateY(-100%);
}

.item-container .img-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.item-container .hover-box { 
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 250ms ease-in-out;
}

.hover-box .item-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-box .item-btn button,
.hover-box .item-btn a { margin: 1rem; }

.hover-box .item-btn i {
    font-size: 1.5rem;
    color: var(--main-bg-color);
}

.hover-box .main-btn {
    position: absolute;
    transition: transform 250ms ease-in-out;
    top: 100%;
    left: 0%;
    width: 100%;
    background: var(--main-bg-color);
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
}

.item-container .img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}

.item-container .name {
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-bottom: 0.5rem;
}

.item-container .price {
    font-size: 1rem;
    color: var(--sub-font-color);
    text-align: center;
}

@media(max-width: 768px) {
    .products-container { width: 100%; }
    .products-container .title { font-size: 28px; text-align: center; }
    .products-container .product-items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
    .products-container .product-items-container .item-container { width: 100%; }
    .item-container .name { font-size: 16px }
}

@media(max-width: 600px) {
    .title-container .title { font-size: 24px; }
    .title-container .sub-title { font-size: 14px; }
    .item-container .name { font-size: 14px }
}

/* ----------------------------------------------------------- */

/* Pagination */
main .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.pagination .position {
    display: flex;
    align-items: center;
}

.pagination ul {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.pagination ul li {
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.pagination ul li:hover {
    background: #f2f2f2;
    border-radius: 4px;
}

.pagination ul .active {
    background: #f2f2f2;
    border-radius: 4px;
}

.pagination button { font-size: 1rem; }

@media(max-width: 768px) {
    .pagination ul li { width: 1.5rem; height: 1.5rem; }
    main .pagination { justify-content: center; }
}