/* Products Page CSS */

/* Root Elements */
:root {
    --main-bg-color: #507DBC;
    --main-font-color: #3d3f56;
    --sub-bg-color: #A3CEF1;
    --sub-font-color: #73B1BC;
    --section-margin: 2rem;
    --main-font: 'Raleway', sans-serif;
    --footer-bg-color: #f2f2f2;
    --main-width: 100%;
}

@media(min-width: 992px) { :root { --main-width: 100%; --banner-height: 30rem} }

@media(min-width: 1600px) { :root { --main-width: 100%; --banner-height: 40rem } }

@media(min-width: 1920px) { :root { --main-width: 1920px; --img-size: 20rem; --banner-height: 50rem } }

@media(max-width: 768px) { :root { --section-margin: 1rem; } }

/* ----------------------------------------------------------- */

main {
    display: flex;
    align-items: center;
    width: var(--main-width);
    margin: auto;
    height: 100vh;
}

@media(max-width: 768px) { main { flex-direction: column; }}

/* Side Section */
main .side-section {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--main-bg-color);
    height: 100%;
}

.side-section p {
    margin: 4rem;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.side-section .redirect {
    padding: 0.5rem 1rem;
    color: #fff;
    border: 3px solid #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--main-font);
}

.side-section .redirect:hover {
    color: var(--main-bg-color);
    background: #fff;
}

@media(max-width: 768px) {
    main .side-section {
        width: 100%;
        padding: 1rem;
    }
    .side-section img {
        width: 50%;
    }
    .side-section p {
        margin: 2rem;
        font-size: 18px;
    }
    .side-section a {
        font-size: 18px;
    }
}

/* ----------------------------------------------------------- */

/* Form Section */ 
main .form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-section img {
    width: 7.5rem;
    margin-bottom: 1rem;
}

.form-section h1 {
    color: var(--main-bg-color);
    font-family: var(--main-font);
    font-size: 48px;
}

.form-section .form-container {
    margin-top: var(--section-margin);
}

.form-container .form-group {
    padding: 1rem;
    /* background: ; */
    border: 2.5px solid #ccc;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.form-group label {
    padding-right: 1rem;
    border-right: 2.5px solid #ccc;
}

.form-group input,
.form-group label {
    font-size: 20px;
}

.form-group input:focus > .form-group {
    background: #fff;
}

.form-group input {
    border: none;
    margin-left: 1rem;
    background: none;
    outline: none;
}

.form-container button {
    padding: 0.5rem 0;
    font-size: 24px;
    color: var(--main-bg-color);
    /* background: var(--main-bg-color); */
    border: 3px solid var(--main-bg-color);
    font-family: var(--main-font);
    font-weight: bold;
    width: 100%;
    margin-top: var(--section-margin);
}

.form-container button:hover {
    background: var(--main-bg-color);
    color: #fff;
}

.form-section .oauth-container {
    
    display: flex;
    align-items: center;
    gap: 2rem;
}

.oauth-container a {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border: 2.5px solid;
    border-radius: 50%;
}

.oauth-container a:hover {
    background: var(--main-font-color);
}

.oauth-container a:hover > i {
    color: #fff;
} 

@media(max-width: 768px) {
    main .form-section {
        width: 100%;
        padding: 2.5rem;
        order: 2;
    }
    .form-section img { width: 5rem; }
    .form-section h1 { font-size: 36px; }
    .form-section .form-container button {
        font-size: 20px;
    }

}